/*myhp.css*/

html {}

body {
  background-image: url("top1.png");
  background-size: contain;
  height: 100%;
  font-family: Verdana, Arial;
  font-size: 25px;
}

.container {
  width: 100%;
  position: relative; /*フッターを位置指定するための基準設定*/
  height: auto !important;　/* コンテンツの高さが画面に収まらない場合はそれに合わせる*/
  height: 100%;　/* コンテンツの高さが画面より低い場合は画面の高さに合わせる*/
  min-height: 100%;
}

header {
  font-size: 70px;
  position: absolute;
  background-color: #FA8072;
  height: 100px;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*footer {
  position: relative;
  margin-top: 50px;
  font-size: 18px;
  bottom: 0px;
  width: 100%;
  min-height: 50px;
  text-align: center;
  border-top: 1px solid silver;
}
*/

a[class＊="profile"] { 
  color: skyblue; 
}

/*link1クラスのa要素がhoverする際のimgに対してマウスオーバー時に半透明化*/
.link1 a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -ms-filter: "alpha(opacity=60)";
  transition: 0.5s;
}

/*link1親要素*/
.link1 {
  position: relative;
  top: 250px;
  width: 900px;
  margin: 0 auto;
}

/*facebook link*/
.link1-1 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: inline-block;
  float: left;
  margin-right: 20px;
  /* テキストを中央に表示させる設定 */
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*くるくる２回転する設定*/
.link1-1 :hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/*github link*/
.link1-2 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  float: left;
  margin-right: 20px;
  /* テキストを中央に表示させる設定 */
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*ブルブル震える設定*/
.link1-2 :hover {
    animation: shake 0.2s linear infinite;
    -webkit-animation: shake 0.2s linear infinite;
}
@keyframes shake {
    0% { transform: translate(3px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(3px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 4px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
}

/*linkedin link*/
.link1-3 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  float: left;
  margin-right: 20px;
  /* テキストを中央に表示させる設定 */
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*くるくる２回転する設定*/
.link1-3 :hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/*blog link*/
.link1-4 {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 400px;
  /* テキストを中央に表示させる設定 */
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*ブルブル震える設定*/
.link1-4 :hover {
    animation: shake 0.2s linear infinite;
    -webkit-animation: shake 0.2s linear infinite;
}
@keyframes shake {
    0% { transform: translate(3px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(3px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 4px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
}

.page-header {
  float: bottom;
  color: navy;
  font-size: 30px;
}

.table {
  float: bottom;
   font-size: 20px;
}
